body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #ecf0f5;    
}
.main-body {
    padding: 15px;
}
#authors li{
    list-style-type: none;
    border: solid 1px;
    padding-top: 10px;
    padding-left: 50px;
}
ul{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-auto-rows: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}